body{
background:#0b0b0b;
color:white;
font-family:Arial;
text-align:center;
margin:0;
}

header{
background:#111111;
padding:30px;
}

nav{
background:#000000;
padding:10px;
}

nav a{
color:white;
margin:10px;
text-decoration:none;
}

section{
padding:40px;
}

img{
width:150px;
border-radius:10px;
margin:10px;
}

ul{
list-style:none;
padding:0;
}

li{
background:#111;
margin:10px;
padding:10px;
border-radius:10px;
}

.card{
background:#111;
padding:20px;
margin:20px;
border-radius:10px;
}

a{
color:red;
}

footer{
background:#111;
padding:20px;
}

#download{
padding:40px;
}

.apk-card{
background:#111;
margin:20px;
padding:20px;
border-radius:10px;
}

.apk-card a{
display:inline-block;
margin-top:10px;
padding:10px 20px;
background:red;
color:white;
text-decoration:none;
border-radius:5px;
}